{% load staticfiles %}
<html>
  <head>
    <title>
      Launchaco - Name a Business.
    </title>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/devices.css">
  </head>
  <body>
    <header class="header">
      <div class="container-lrg">
        <div class="col-12 spread">
          <div>
            <a class="logo">
              Sam Seaver
            </a>
          </div>
          <div>
            <a class="nav-link" href="#">
              Twitter
            </a>
            <a class="nav-link" href="#">
              Facebook
            </a>
          </div>
        </div>
      </div>
      <div class="container-sml">
        <div class="col-12">
          <h1 class="heading text-center">
            Sam Seaver<div>Web Developer</div>
          </h1>
        </div>
      </div>
      <div class="container-lrg">
        <div class="centerdevices col-12">
          <div class="browseriphone">
            <div class="iphone">
              <div class="mask">
                <img class="mask-img" src="{{ MEDIA_URL }}mobileapp.svg">
              </div>
            </div>
            <div class="browser">
              <div class="mask">
                <img class="mask-img" src="{{ MEDIA_URL }}webapp.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-sml">
      <div class="col-12 text-center">
        <h2 class="paragraph">
          Graduate from the backend web development course at The Iron Yard
        </h2>
        <div class="ctas">
          <div class="emailcta">
            <input class="ctas-input" type="text" placeholder="Your Email Address">
            <button class="ctas-button">
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </header>
    <div class="feature5">
      <div class="container-sml text-center">
        <div class="col-12">
          <h3 class="heading">
            Brilliant Domain Names.
          </h3>
        </div>
      </div>
      <div class="container-lrg flex">
        <div class="col-5 centervertical">
          <div class="steps">
            <div class="emoji">
              <b>
                🎓
              </b>
            </div>
            <h3 class="subheading">
              Instant Handles
            </h3>
            <p class="paragraph">
              Launchaco instantly shows you the most relevant domain names. Followed by hundreds of new gtlds. Get your .gold domain name today!
            </p>
          </div>
          <div class="steps">
            <div class="emoji">
              <b>
                💐
              </b>
            </div>
            <h3 class="subheading">
              Gorgeous Logotypes
            </h3>
            <p class="paragraph">
              Naming your brand has never been soooo easy! With Launchaco you can instantly search for twitter, facebook, medium, and instagram handles.
            </p>
          </div>
          <div class="steps">
            <div class="emoji">
              <b>
                🚀
              </b>
            </div>
            <h3 class="subheading">
              Insanely Fast
            </h3>
            <p class="paragraph">
              We've hand travelled the depths of the internet to bring you gorgeous logotypes. Featuring the beautiful fonts of Connary Fagen.
            </p>
          </div>
        </div>
        <div class="col-1">
        </div>
        <div class="col-6">
          <div class="sidedevices">
            <div class="iphoneipad2">
              <div class="iphone">
                <div class="mask">
                  <img class="mask-img" src="{{ MEDIA_URL }}mobileapp.svg">
                </div>
              </div>
              <div class="ipad">
                <div class="mask">
                  <img class="mask-img" src="{{ MEDIA_URL }}webapp.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="socialproof">
      <div class="container-sml">
        <div class="flex text-center">
          <div class="col-12">
            <h4 class="subheading">
              "What a time saver for startup founders...this can be one of the most awful and creative sinkholes that a team goes through... Bravo for making this hellish process a little better."
            </h4>
            <p class="paragraph">
              Sean Howell - CEO @ Hornetapp
            </p>
          </div>
        </div>
      </div>
      <div class="container-lrg">
        <div class="logos flex">
          <img class="col-3" src="{{ MEDIA_URL }}launchacologo.svg">
          <img class="col-3" src="{{ MEDIA_URL }}launchacologo.svg">
          <img class="col-3" src="{{ MEDIA_URL }}launchacologo.svg">
          <img class="col-3" src="{{ MEDIA_URL }}launchacologo.svg">
          <img class="col-3" src="{{ MEDIA_URL }}launchacologo.svg">
          <img class="col-3" src="{{ MEDIA_URL }}launchacologo.svg">
          <img class="col-3" src="{{ MEDIA_URL }}launchacologo.svg">
          <img class="col-3" src="{{ MEDIA_URL }}launchacologo.svg">
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container-sml">
        <div class="col-12 text-center">
          <div>
            <a class="nav-link">
              Twitter
            </a>
            <a class="nav-link">
              Facebook
            </a>
            <a class="nav-link">
              Contact
            </a>
            <a class="nav-link">
              TOS
            </a>
            <a class="nav-link">
              Privacy
            </a>
          </div>
          <br>
          <div>
            <span>
              © 2016 Compute Studios.
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
